body {
  overflow: hidden; /* Hide scrollbars */
}

.List {
  scrollbar-width: thin;
  scrollbar-color: rgb(220, 23, 131) rgb(220, 23, 131);
}

/* Chromium */
.List::-webkit-scrollbar {
  width: 6px !important;
  width: 1000px;
  border: 1px solid #d9dddd;
}
